.buttonCell {
    display: flex;
    gap: 8px;
    flex-direction: row-reverse;
    align-items: center;
}

.buttonCell button {
    appearance: none;
    display: inline-block;
    padding: 0.375em 1em 0.5em;
    white-space: nowrap;
    border-radius: 6px;
    box-shadow:
        0 0 0 4px transparent,
        0 1px 2px 0 #0c111d11;
    outline: none;
    background-color: var(--ag-background-color);
    color: var(--color-fg-primary, #101828);
    border: 1px solid var(--ag-border-color);
    cursor: pointer;
}

.removeButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 0;
}

.removeButton img {
    width: 20px;
    height: 20px;
    position: absolute;
    inset: 0;
    margin: auto;
}

.buttonStopSelling {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
