:global(:root) {
  --layout-grid-header-height: 32px;
  --layout-grid-margin: 32px;
}

:global(body) {
  margin: 0;
}

.grid {
  --ag-value-change-value-highlight-background-color: #44ad4961;
  --ag-value-change-delta-down-color: rgb(255, 0, 92);
  --ag-value-change-delta-up-color: rgb(53, 182, 90);
}

.gridHeight {
  height: calc(
    100vh - var(--layout-grid-header-height) - var(--layout-grid-margin)
  );
  margin: var(--layout-grid-margin);
}

:global(.ag-theme-quartz-dark .ag-row) {
  --ag-row-hover-color: #323a46;
}

:global(.ag-theme-quartz .ag-row-group),
.container {
  width: 100%;
}

:global(.ag-theme-quartz .ag-value-change-value-highlight),
:global(.ag-theme-quartz-dark .ag-value-change-value-highlight) {
  padding: 2px 6px;
  border-radius: 12px;
  margin-left: 4px;
}

:global(.ag-right-aligned-cell) {
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.01em;
}

:global(.ticker-name) {
  opacity: 0.8;
}
