.imageCell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
