<div class="wrapper">
  <div class="container">
    <div [class]="themeClass" class="grid gridHeight">
      <ag-grid-angular
        style="height: 100%"
        (gridReady)="onGridReady($event)"
        [theme]="theme"
        [getRowId]="getRowId"
        [rowData]="rowData"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [cellSelection]="cellSelection"
        [enableCharts]="enableCharts"
        [rowGroupPanelShow]="rowGroupPanelShow"
        [suppressAggFuncInHeader]="suppressAggFuncInHeader"
        [groupDefaultExpanded]="groupDefaultExpanded"
        [statusBar]="statusBar"
      ></ag-grid-angular>
    </div>
  </div>
</div>
